#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
         NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
         MAKEFLAGS += -j$(NUMJOBS)
endif


%:
	dh $@ --parallel

#do a minimal build (just binaries and info manual)
#seems MAKEFLAGS does not include -j<n> options at this point...?
override_dh_auto_build:
	$(MAKE) main;\
$(MAKE) -C stream  info/dvbv-stream.info.gz;\
$(MAKE) -C ncurses_remote  info/dvbv-nr.info.gz

override_dh_auto_install:
	prefix=/usr dh_auto_install --parallel
	rm debian/dvbvulture/usr/share/info/dir

#I like debug information
override_dh_strip:
	dh_strip -Xlibsacommon -Xdvbv-nr -Xdvbv-xr -Xdvbv-stream

